.row
  - symptoms1.each do |sym, name|
    .col-md-4
      .card.mb-4{class: "card-#{cycle('primary', 'royal', 'warning')}"}
        .card-header
          %h2
            %i.zmdi.zmdi-group-work
            = name
        .withripple.zoom-img
          %a{href: '#'}
            =image_tag("symptom/#{sym}.jpg", class: 'img-fluid')
        .card-block
          .group-members
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--48px thumbnail--circle thumbnail-card')
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card')
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card')
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card')
            %a{:href => "#"}
              %i.zmdi.zmdi-more
            %a.pull-right.btn.btn-primary.btn-xs.btn-raised{:href => "/chat"}
              %i.zmdi.zmdi-collection-plus
              Join
          %hr/
          .text-center
            .row
              .col
                %a.label-primary.label 1,200 members
              .col
                %a.label-info.label 500 active posts
.row
  - symptoms2.each do |sym, name|
    .col-md-4
      .card.mb-4{class: "card-#{cycle('primary', 'royal', 'warning')}"}
        .card-header
          %h2
            %i.zmdi.zmdi-group-work
            = name
        .withripple.zoom-img
          %a{href: '#'}
            =image_tag("symptom/#{sym}.jpg", class: 'img-fluid')

        .card-block
          .group-members
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--48px thumbnail--circle thumbnail-card')
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card')
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card')
            %a{:href => "#"}= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card')
            %a{:href => "#"}
              %i.zmdi.zmdi-more
            %a.pull-right.btn.btn-primary.btn-xs.btn-raised{:href => "/chat"}
              %i.zmdi.zmdi-collection-plus
              Join
          %hr/
          .text-center
            .row
              .col
                %a.label-primary.label 1,200 members
              .col
                %a.label-info.label 500 active posts
