<head>
  <title>Homeroom</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%=image_path('homeroom_icon.png')%>">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application.css', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</head>
