<div class="ms-site-container ms-nav-fixed">
  <nav class="navbar navbar-expand-md ms-lead-navbar navbar-mode navbar-mode mb-0" id="navbar-lead">
    <%= render 'shared/top_nav' %>
  </nav>
  <div class="wrap ms-hero-img-brain-color ms-hero-bg-info ms-bg-fixed full-screen-height">
    <div class="container ms-paper-content index-1">
      <div class="container container-full">
        <h1 class="text-center">
          <span class="badge badge-primary">Anxiety Group</span>
        </h1>
        <div class="chat-post">
          <div class="form-group is-empty">
            <div class="share-experience-cover">
              <div class="profile-image">
                <%= image_tag('demo/avatar50.jpg', class: 'thumbnail--48px thumbnail--circle thumbnail-card') %>
                <div class="profile-name">
                  Julia
                </div>
              </div>
              <div class="text-post">
                <textarea class="form-control" rows="3" id="textArea" placeholder="Share your experience"></textarea>
              </div>
            </div>
          </div>
        </div>
        <section class="row timeline-center">
          <div class="col-md-6">
            <article class="card card-primary timeline-center-item left wow slideInLeftTiny">
              <header class="card-header">
                <div class="row">
                  <div class="col">
                    <%= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card') %>
                    &nbsp; Julia
                  </div>
                  <div class="col text-right">
                    2 days ago
                  </div>
                </div>
              </header>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus numquam, voluptatibus tempore sint
                  nesciunt id accusantium corporis ea assumenda iure quos, temporibus accusamus cupiditate eveniet
                  mollitia
                  illum ipsum porro aut.</p>
                <div class="post-actions">
                  <button class="btn-action btn"><i class="zmdi zmdi-mail-reply"></i> Reply</button>
                </div>
              </div>

            </article>
            <article class="card card-danger timeline-center-item left wow slideInLeftTiny">
              <header class="card-header">
                <div class="row">
                  <div class="col">
                    <%= image_tag('demo/avatar2.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card') %>
                    &nbsp; Robert
                  </div>
                  <div class="col text-right">
                    4 days ago
                  </div>
                </div>
              </header>
              <div class="card-block">
                <a href="https://www.theguardian.com/lifeandstyle/2016/aug/30/treat-anxiety-youtube-videos-mental-health">
                  https://www.theguardian.com/lifeandstyle/2016/aug/30/treat-anxiety-youtube-videos-mental-health
                </a>
                <p>YouTube has become the go-to social platform for life hacks.
                  Hoards of chipper lifestyle vloggers upload new self-improvement videos every day, ranging from
                  recipes for hot chocolate served in an orange to the secrets to effective to-do list writing.
                  But among the homemaking tips and makeup tutorials, a crop of these videos are tackling a more serious
                  subject: mental health.</p>
                <div class="post-actions">
                  <button class="btn-action btn"><i class="zmdi zmdi-mail-reply"></i> Reply</button>
                </div>
              </div>
            </article>
            <article class="card card-royal timeline-center-item left wow slideInLeftTiny">
              <header class="card-header">
                <div class="row">
                  <div class="col">
                    <%= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card') %>
                    &nbsp; Julia
                  </div>
                  <div class="col text-right">
                    4 days ago
                  </div>
                </div>
              </header>
              <div class="card-block">
                <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nulla recusandae blanditiis
                    architecto
                    soluta culpa obcaecati quis earum atque consequuntur.</p>
                  <div class="row">
                    <div class="col-xl-4 col-md-12 col-sm-6">
                      <%= image_tag('demo/chatgroup/mental1.jpg', class: 'img-fluid mb-2 img-thumbnail') %>
                    </div>
                    <div class="col-xl-4 col-md-12 col-sm-6">
                      <%= image_tag('demo/chatgroup/mental2.jpg', class: 'img-fluid mb-2 img-thumbnail') %>
                    </div>
                    <div class="col-xl-4 col-md-12 col-sm-6">
                      <%= image_tag('demo/chatgroup/mental3.jpg', class: 'img-fluid mb-2 img-thumbnail') %>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="card timeline-center-item left wow slideInLeftTiny">
              <blockquote class="blockquote blockquote-color-bg-primary withripple color-white">
                <p>
                  <strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna.
                  consectetur adipiscing elit sed consequat, quam semper libero.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </article>
            <article class="card card-primary timeline-center-item left wow slideInLeftTiny">
              <header class="card-header">
                <h3 class="card-title">Card Title</h3>
              </header>
              <div class="card-block text-center">
                <a href="javascript:void(0)" class="btn-circle btn-circle-primary btn-circle-raised btn-card-float wow zoomInDown">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam
                  recusandae necessitatibus reprehenderit.</p>
                <a href="javascript:void(0)" class="btn btn-primary">
                  <i class="zmdi zmdi-star"></i> Button</a>
                <a href="javascript:void(0)" class="btn btn-primary btn-raised">
                  <i class="zmdi zmdi-globe"></i> Button</a>
              </div>
            </article>
          </div>

          <div class="col-md-6">
            <article class="card card-info timeline-center-item right wow fadeInUp">
              <header class="card-header">
                <div class="row">
                  <div class="col">
                    <%= image_tag('demo/avatar4.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card') %>
                    &nbsp; Marie
                  </div>
                  <div class="col text-right">
                    3 days ago
                  </div>
                </div>
              </header>
              <div data-type="youtube" data-video-id="9ZfN87gSjvI"></div>
            </article>

            <article class="card card-warning-inverse timeline-center-item right wow fadeInUp">
              <header class="card-header">
                <div class="row">
                  <div class="col">
                    <%= image_tag('demo/avatar50.jpg', class: 'thumbnail--24px thumbnail--circle thumbnail-card') %>
                    &nbsp; Julia
                  </div>
                  <div class="col text-right">
                    Jan 08, 2018
                  </div>
                </div>
              </header>
              <div class="card-block text-center">
                <span class="ms-icon ms-icon-white ms-icon-round ms-icon-xlg">
                  <i class="zmdi zmdi-cloud-outline color-warning"></i>
                </span>
                <h4 class="color-light">Anxiety Disorders</h4>
                <p>We all feel nervous or worried at times. This anxiety can be a helpful feeling when it motivates us
                  or warns us of danger. An anxiety disorder, on the other hand, causes unexpected or unhelpful anxiety
                  hat seriously impacts our lives, including how we think, feel, and act.</p>
                <a href="javascript:void(0)" class="btn btn-white">
                  <i class="zmdi zmdi-download"></i> Download</a>
              </div>
            </article>
            <article class="card card-success timeline-center-item right wow fadeInUp">
              <header class="card-header">
                <h3 class="card-title">Card Title</h3>
              </header>
              <div class="card-block text-center">
                <h4 class="color-success">Lorem ipsum dolor sit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam
                  recusandae necessitatibus reprehenderit. Praesentium non velit at natus ut dolores iusto totam
                  doloremque
                  perspiciatis. Quidem.</p>
              </div>
            </article>
            <article class="card card-info timeline-center-item right wow fadeInUp">
              <header class="card-header">
                <h3 class="card-title">Card Title</h3>
              </header>
              <article class="card card-danger-inverse timeline-center-item right wow fadeInUp">
                <header class="card-header">
                  <h3 class="card-title">Card Title</h3>
                </header>
                <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus numquam, voluptatibus tempore
                    sint
                    nesciunt id accusantium corporis ea assumenda iure quos, temporibus accusamus cupiditate eveniet
                    mollitia
                    illum ipsum porro aut.</p>
                </div>
              </article>
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
